xml/XML in easy steps - Source code/3 - Writing XSD schemas/hello.xsd

<?xml version="1.0" encoding = "UTF-8" ?>

<!-- XML in easy steps - Page 46. -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >

<!-- DECLARE ELEMENTS. -->
<xsd:element name="doc" type="docType"/>
<xsd:element name="msg" type="xsd:string"/>
	
<!-- DEFINE STRUCTURE. -->
<xsd:complexType name="docType">
	<xsd:sequence>
		<xsd:element ref="msg"/>
	</xsd:sequence>
</xsd:complexType>
	
</xsd:schema>
