xml/XML in easy steps - Source code/3 - Writing XSD schemas/history.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!-- XML in easy steps - Page 58. -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!-- Schema information. -->
<xsd:annotation>
	<xsd:appinfo>Entity workaround</xsd:appinfo>
	<xsd:documentation>info.doc</xsd:documentation>
</xsd:annotation>

<!-- DECLARE ELEMENTS. -->

<!-- Simple type. -->
<xsd:element name="para" type="xsd:string"/>

<!-- Complex type. -->
<xsd:element name="doc" type="docType"/>


<!-- DEFINE STRUCTURE. -->
<xsd:complexType name="docType">
	<xsd:sequence>
		<xsd:element ref="para" />
	</xsd:sequence>
</xsd:complexType>
	
</xsd:schema>
